name: "Prod deployment"

concurrency: 1

on:
  # push:
  #   branches:
  #     - master
  workflow_dispatch:
  
jobs:
  # test_package:
  #   name: "Checkout, Install, and Test"
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3

  #     - name: Set up Python
  #       uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.11'

  #     - name: Install package in editable mode
  #       run: pip install -e .

  #     - name: Install dependencies
  #       run: pip install -r requirements-dev.txt

  #     - name: Run tests
  #       run: python -m pytest

  deploy:
    name: "Deploy bundle"
    runs-on: ubuntu-latest
    # needs:
    #   - test_package

    steps:
      - uses: actions/checkout@v3

      - uses: databricks/setup-cli@main

      - run: databricks bundle deploy -t qa
        working-directory: ./david_dab
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          # DATABRICKS_BUNDLE_ENV: qa

      - run: databricks bundle deploy -t pre-prod
        working-directory: ./david_dab
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          # DATABRICKS_BUNDLE_ENV: pre-prod 

      - run: databricks bundle deploy -t prod
        working-directory: ./david_dab
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          # DATABRICKS_BUNDLE_ENV: prod 

      - run: databricks bundle destroy -t qa
        working-directory: ./david_dab
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          # DATABRICKS_BUNDLE_ENV: qa      

      - run: databricks bundle destroy -t pre-prod
        working-directory: ./david_dab
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          # DATABRICKS_BUNDLE_ENV: pre-prod 

      - run: databricks bundle destroy -t prod
        working-directory: ./david_dab
        env:
          DATABRICKS_TOKEN: ${{ secrets.SP_TOKEN }}
          # DATABRICKS_BUNDLE_ENV: prod    